   <h2>Nosso Cardapio</h2>
    <ul>
        <br>
<div class="menu">
        <a href="#lanches">Lanches</a></div>
        
       <div class="menu"><a href="#bebidas">Bebidas</a></div>

        
        <h2 id="lanches">Lanches</h2>

{{#each cardapio}}
        <a href="">
            <div class="content">
                <li><img src="/images/{{imagem}}"></li>
                <li>
                    <h3>{{nome}}</h3>
                </li>
                <br>
                <li>
                    <h4>Ingredientes:</h4> <br>
                    {{texto}}
                </li>
            </div>
        </a>
        {{/each}}
    </ul>

<br>
<h2 id="bebidas">Bebidas</h2>

{{#each cardapio}}
        <a href="">
            <div class="content">
                <li><img src="/images/{{imagem}}"></li>
                <li>
                    <h3>{{nome}}</h3>
                </li>
                <br>
            </div>
        </a>
        {{/each}}
    </ul>

<footer>
    <h2>Quem somos?</h2>
    <h3>Hic error eius eum facere quia? </h3><p>Lorem ipsum dolor sit amet. Et delectus beatae sit expedita nesciunt ut omnis necessitatibus qui harum possimus. Id exercitationem sequi ut eius dignissimos ea asperiores molestias qui itaque corrupti et odit dignissimos. Sed omnis repudiandae 33 iusto animi et dolor velit non sunt perspiciatis quo ducimus unde? Et dolor unde aut officia labore eos voluptas consectetur qui dolor corporis sed voluptatem error 33 voluptatum omnis qui nemo consequatur. </p><h3>Id natus numquam est totam deleniti. </h3><p>Ex molestias quasi qui porro voluptatem vel dignissimos ratione vel fugiat minima et quisquam laborum aut similique quia. Et corrupti vero in odit repellat et excepturi dolor in debitis doloremque 33 quia nisi. </p><h3>Ut sequi nihil a velit quia. </h3><p>Cum galisum vero qui voluptate excepturi sit eveniet voluptatum ut accusamus voluptas. Ut suscipit asperiores 33 nemo possimus eos adipisci enim est nihil perferendis. Sit quia omnis et aperiam quam sit asperiores necessitatibus et earum ipsa in voluptate quasi. Ut enim illum est saepe dignissimos ea unde quidem. </p>

</footer>
